{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% set set_middle = false %}
{% if rows|length > 9 %}
  {% set set_middle = true %}
{% endif %}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="row">
  {% for key, row in rows %}
    {% set row_classes = [
      default_row_class ? 'views-row',
      'news',
      'col-lg-4',
      'col-md-6',
      'pb-5 pt-5',
    ] %}
    <div{{ row.attributes.addClass(row_classes) }}>
      {{ row.content }}
    </div>
    {% if set_middle == true and key == (9-1) %}
      {{ drupal_view('media_listing', 'latest_1_featured_middle_news') }}
    {% endif %}
  {% endfor %}
  {% if set_middle == false %}
    {{ drupal_view('media_listing', 'latest_1_featured_middle_news') }}
  {% endif %}
</div>