{#
/**
 * @file
 * Display Suite 2 column template.
 *
 * Available variables:
 * - outer_wrapper: outer wrapper element
 * - left_wrapper: wrapper element around left region
 * - right_wrapper: wrapper element around right region
 * - attributes: layout attributes
 * - left_attributes: attributes for left region
 * - right_attributes: attributes for right region
 * - left: content of left region
 * - right: content of right region
 */
#}
{% set row_classes = field_subtitle['#items'].getValue() ? 'd-flex align-items-top' : 'd-flex align-items-center' %}

<{{ outer_wrapper }}{{ attributes.addClass('ds-2col', 'clearfix') }}>

  {{ title_suffix.contextual_links }}

  {% for link in field_link['#items'] %}
      <a href="{{ link.url }}" class="wrap-link">
          <div class="{{ row_classes }}">
              <{{ left_wrapper }}{{ left_attributes.addClass('group-left') }}>
                {{ left }}
              </{{ left_wrapper }}>

              <{{ right_wrapper }}{{ right_attributes.addClass('group-right', 'flex-grow-1') }}>
                {{ right }}
              </{{ right_wrapper }}>
          </div>
      </a>
  {% endfor %}

</{{ outer_wrapper }}>
